* {
  box-sizing: border-box;
}

.gallery {
  width: 50%;
  float: right;
  height: 600px;
  padding: 20px;
  border: 1px solid aliceblue;
  margin: 10px 0 30px;
}

.galleryItem {
  float: left;
  margin: 5px;
}

.img-thumbnail {
  background-color: transparent;
  border: transparent;
}


/* ++++++++++++++++++++++++++++++++++ */

#outer-dropzone {
  width: 50%;
  height: 600px;
  background-image: url(../images/new_potato.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: aliceblue;
  border: 5px solid aliceblue;
  background-size: contain
}

.dropzone {
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 50%;
  transition: background-color 0.3s;
  float: left;
}



.block-header {
  color: rebeccapurple;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: bold;
}